body {
    background: gainsboro !important;
}

.prueba h1{
    width: 200px;
    color: red;
    border: 1px solid;
}

.navbar {
    background: gainsboro;
    height: 130px;
    z-index: 3;
}

.navbar a {
    color: white;
}

.navbar-brand{
    color: black !important;
}

.parrafo h1{
    font-size: 90px;
    color: darkblue;
}

.button-one {
    background-color: white;
    border: none;
    color: black;
    padding: 35px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    width: 200px;
}

.button-two {
    background-color: grey;
    border: none;
    color: white;
    padding: 35px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    width: 200px;
}

.button-theree {
    background-color: orange;
    border: none;
    color: white;
    padding: 35px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    width: 200px;
}

.button-for {
    margin-right: 10px;
    background-color: blue;
    border: none;
    color: white;
    padding: 35px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 200px;
}

.button-five {
    background-color: hotpink;
    border: none;
    color: white;
    padding: 35px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    width: 200px;
}


.publication {
    width: 100%;
}

section img {
    height: 300px;
    width: 100%;
}


section {
    z-index: 1;
}

section p {
    color: white;
}

.category-title{
    color: white;
    background: black;
}

.category-economy {
    height: 300px;
    background: #114466;
    color: white;
}

#dollars {
    width: 100%;
    height: 100%;
}

.card-text {
    color: black;
}

footer {
    background: #114466;
    color: white;
}

.sticky-top img {
    height: 200px;
    width: 200px;
}

/* formulario de contacto */

.form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    border-radius: 4px;
    font-family: "calibri";
    color: white;
    box-shadow: 7px 13px 13px #f4f4f4;
  }
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rebeccapurple;
    font-family: "calibri";
    font-size: 18px;
    color: white;
  }
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  .form-register a {
    color: white;
    text-decoration: none;
  }
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  .form-register .botons {
    width: 100%;
    background: rebeccapurple;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
  #form {
    padding: 20px;
    border: 2px solid white;
    margin: 2px;
    transform: translate(50%);
    height: 350px;
  }

@media (max-width: 494px) {
    .parrafo h1 {
        font-size: 20px;
    }

    .title-carousel{
        font-size: 14px;
    }

    #img-card-one {
        height: 200px;
    }

    #img-card-two {
        height: 200px;
    }

    #img-presentation {
        height: 200px;
    }

    #img-presentation-two {
        height: 200px;
    }

    #img-presentation-three {
        height: 200px;
    }
    
    .category-economy {
        height: 150px;
    }
    
    #dollars {
        width: 100%;
        height: 100%;
    }
}